[Unit]
Description=Watch wx-core every 10 min (cross-machine backup)
Requires=mrw-watch-wx-core.service

[Timer]
OnCalendar=*:00,10,20,30,40,50
Persistent=true

[Install]
WantedBy=timers.target
